@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #181726;
}

img {
    max-width: 100%;
}

.container {
    max-width: 170vh;
    margin: 0 auto;
}

.header {
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(27, 23, 38, 1) 100%),
        url(images/cod-cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 120vh;
    padding: 80px 0;
}

.header-txt {
    flex-basis: 56%;
    color: #ffffff;
    padding: 10%;
}

.header-txt h1 {
    font-size: 4vw;
    padding-bottom: 3%;
}

.header-txt p {
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 10%;
}

.header-txt a {
    font-size: 0.6vw;
    color: #ffffff;
}

.butons a {
    font-size: 1vw;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    color: #ff5a2c;
    font-size: 5vw;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 10%;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ff5a2c;
}

#menu {
    display: none;
}

.menu_icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product-1 {
    background-color: #2a223a;
}

.product-1 img {
    height: 50%;
    width: 100%;
}

.product-txt {
    padding: 50px 30px;
}

h2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
}

h3 {
    color: #ffffff;
    font-size: 1.5vw;
    margin-bottom: 20px;
}

p {
    font-size: 1vw;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #ff5a2c;
}

.btn-2 {
    padding: 5px 25px;
    background-color: #ff5a2c;
    margin-right: 0;
}

.butons {
    display: flex;
}

.btn-1,
.btn-2,
.btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #ff5a2c;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: #ffffff;
}

.btn-1:hover {
    background-color: #ff5a2c;
}

.contact {
    padding: 150px 300px;
}

.contact-content {
    background-color: #2a223a;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 18px 25px;
    background-color: #3f3456;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #ffffff;
    font-size: 17px;
}

::placeholder {
    color: #e0e0e0;
    font-size: 17px;
}

.btn-3 {
    background-color: #ff5a2c;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.link ul {
    display: flex;
}

.link ul li>a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20px;
}

.link ul li>a:hover {
    color: #ff5a2c;
}

.game {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 8%;
}


.box {
    padding: 4%;
    margin-bottom: 5%;
    align-items: center;
    color: #ffffff;
    background-color: #2a223a;
}

.blackcell {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    font-size: 19px;
}

.blackcell-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1vw;
    margin-top: 5%;
}

.blackcell-1 ul li {
    list-style: disc;
}

.game-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    padding-top: 60px;
}

.box-1 {
    color: #ffffff;
    background-color: #2a223a;
    height: 52vw;
    min-height: 67%;
    position: sticky;
    top: 0;
    order: 0;
}

.box-1 div {
    padding: 4%;
    width: fit-content;
}

.platforms {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.platforms div {
    background-color: #181726;
    display: inline-flex;
    height: 5vw;
    width: fit-content;
    height: 3vw;
}

.platforms img {
    max-inline-size: 30px;
}

.legal p {
    padding-bottom: 40px;
    font-size: 0.7vw;
    color: #ffffff;
}

.incluye {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.incluye-1 {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.desbloquea {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10%;
}

hr {
    border: 0.2px solid #2a223a;
    width: 90%;
    margin: 30px left;
}

@media(max-width: 991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff5a2c;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #181726;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-width: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        text-align: center;
        flex-basis: 100%;
    }

    .header-txt p {
        font-size: 12px;
    }

    .header-txt a {
        font-size: 8px;
    }

    .header-txt h1 {
        font-size: 60px;
        margin-bottom: 15px;
    }

    .butons {
        justify-content: center;
    }

    .butons a {
        font-size: 12px;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .game,
    .blackcell-1,
    .incluye-1,
    .desbloquea {
        display: block;
    }

    .game p,
    ul {
        font-size: 12px;
    }

    .product {
        padding: 30px;
        padding-top: 150px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product-1 img {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }

    h3 {
        font-size: 15px;
    }

    .desbloquea div {
        margin-bottom: 10%;
    }

    .desbloquea h3 {
        margin-block-end: 0;
    }

    .box-1 {
        position: static;
    }

    .platforms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10%;
        margin: 0 10%;
    }

    .platforms div {
        height: 10vw;
        width: fit-content;
    }

    .platforms img {
        max-inline-size: 30px;
    }

    .legal p {
        display: none;
    }

}