@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

img {
    max-width: 100%;

}

h3 {
    color: #ffffff;
    font-size: 20px;
}

.header {
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0, 1) 100%),
        linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0, 1) 90%), 
        url(../images/protector-operator-image.webp);
    background-position: 200px top;
    background-repeat: no-repeat;
    background-size:contain;
    display: block;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.principal {
    margin: 5%;
    max-width: 60vw;
}

.name {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.menu_icono {
    width: 25px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ff5a2c;
}

.menu label {
    cursor:pointer;
    display: none
}

#menu {
    display: none;
}

.container {
    max-width: 170vh;
    margin: 0 10%;
}

.logo{
    color: #ff5a2c;
    font-size: 5vw;
    font-weight: 800;
    text-transform: uppercase;
}

.sign-in {
    width: 45%;
    padding: 2%;
    color: #ffffff;
    border: 2px solid #ff5a2c;
    border-radius: 10%;
    justify-content: center;
    box-sizing:content-box;
    align-items: center;
}

.sign-in input {
    width: 100%;
    max-height: 2.2em;
    border-radius: 0.4em;
    margin-bottom: 5%;
}

.sign-up {
    font-size: 12px;
}

.sign-up a {
    color:#ffffff
}

.box-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:10%;
    margin-top: 7%;
}

.box-bottom .btn-3{
    border-radius: 10em;
    padding: 8%;
}

.contact-content {
    background-color: #2a223a;
    text-align: center;
    max-width: 50%;
    border-radius: 50px;
    padding: 3%;
    margin-left: 30%;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 18px 25px;
    background-color: #3f3456;
    border:0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #ffffff;
    font-size: 17px;
}

::placeholder {
    color: #e0e0e0;
    font-size: 17px;
}

.btn-3 {
    background-color: #ff5a2c;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.link ul {
    display: flex;
}

.link ul li > a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20px;
}

.link ul li > a:hover {
    color: #ff5a2c;
}

@media(max-width: 991px) {

    .container{
        margin: 0%;
    }
    .principal {
        padding-top: 200px;
        margin: 0%;
        max-width: 80vw;
        place-items: center;
    }

    .name {
        width: 100%;
        padding: 15%;
    }

    .name div {
        display: flex;
        align-items: end;
    }
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #ff5a2c;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #181726;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-width: 0vh;
        padding: 80px 30px 50px 30px;
        background-position:center;
        background-size: cover;
    }

    .sign-in {
        width: 300px;
        background-color: #2a223ab3;
    }

    .sign-up {
        display:inline;
        font-size: 11px;
    }

    form {
        flex-direction:row;
    }

    input {
        margin: 0 0 20px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }

    .contact-content {
        min-width: 390px;
        margin: 0%;
        padding: 0%;
    }
}